node_modules
out
.chrome
.DS_Store
*.log
ffmpeg2pass*
.env
public/Windows 10 Ghost Spectre Superlite SE 2026_ The Best Lightweight Windows for Low-End PCs_ (transcribed on 10-Jul-2026 09-39-38).srt
__pycache__
